.bloque {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 300px;
     margin-right: 350px;
     margin-top: 250px;
     margin-bottom: 250px;
       
    p {color: yellow;} 
    
    .qui {
        font-family: 'Bebas Neue', sans-serif;
      }

   

}
